{{> nav }}

<main>

    <section class="content-container">

        <div class="project-cards-container">
            {{#each projects}}

            <div class="project-card--item " data-id={{_id}}>
                <a href="/project/{{_id}}" class="project-card--link">
                    <img src={{images.[0].imgSrc}} class="project-card--image">
                </a>
                <a href="/project/{{_id}}" class="project-card--link">
                    <div class="project-card--title">{{name}}</div>
                </a>
            </div>

            {{/each}}
        </div>

    </section>

</main>

{{> footer}}