{{> nav }}

<main>
        <div class="project-cards-outer-container">
            {{#each projects}}
            <a href="/project/{{_id}}" id={{id}} class="project-card">
                    <div>
                        <img src={{coverImage}} alt={{id}}>
                    </div>
                    <div class="project-card--about-wrapper">
                        <div class="project-card--title">
                            {{name}}
                        </div>
                        <div class="project-card--details">
                            {{location}} | {{class}}
                        </div>
                    </div>
            </a>
            {{/each}}
        </div>
</main>

{{> footer}}