{{> nav }}

<main>

    <div class="project-container">

        <section class="project-media-container">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 3:2">
                <ul class="uk-slideshow-items">
                    {{#each project.images}}
                    <li>
                        <img src={{imgSrc}} id={{_id}} uk-cover>
                    </li>
                    {{/each}}
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                    uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                    uk-slideshow-item="next"></a>
            </div>
        </section>

        <section class="project-desc-container">
            <h2 class="project-desc--name">{{project.name}}</h2>

            <div class="project-desc--about">
                {{#each project.about}}
                <p>{{paragraph}}</p>
                {{/each}}

                {{#each project.details}}
                <p class="detail">{{detail}}</p>
                {{/each}}
            </div>
        </section>
    </div>

    <section class="project-panel-container">

        {{!-- <img src="https://place-hold.it/400x267/500/white.jpg" alt="project-image">
        <img src="https://place-hold.it/400x267/333/white.jpg" alt="project-image">
        <img src="https://place-hold.it/400x267/666/white.jpg" alt="project-image">
        <img src="https://place-hold.it/400x267/222/white.jpg" alt="project-image"> --}}

        {{!-- FETCH ALL DATA -- SHUFFLE THE ARRAY -- PLACE FIRST FOUR HERE --}}
        <div class="project-panel-card" style="background-image: url('https://s3.eu-west-2.amazonaws.com/architect-portfolio/image02-600w.jpg')"></div>
        <div class="project-panel-card" style="background-image: url('https://s3.eu-west-2.amazonaws.com/architect-portfolio/image01-600w.JPG')"></div>
        <div class="project-panel-card" style="background-image: url('https://s3.eu-west-2.amazonaws.com/architect-portfolio/image04-600w.jpg')"></div>
        <div class="project-panel-card" style="background-image: url('https://s3.eu-west-2.amazonaws.com/architect-portfolio/image03-600w.jpg')"></div>



    </section>

    <div class="bottom-nav">

        <a href="#top">BACK TO TOP &#8593 </a>

    </div>

</main>

{{> footer }}